nav {
  font-family: 'Dancing Script', cursive;
  background-color:rgba(0, 8, 8, 0.384);
  font-size: 1.7rem !important;
}

#s1_header {
  background-image: url('img/africa-and-regions/africa6.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
#s1_header h1 {
  text-align: center;
  grid-column: 2/3;
  grid-row: 3/4;
  font-size: 3rem;
  font-weight: bolder;
  background-color: #d9b5789c;
  color: #482101;
}
@media (max-width: 992px) {
  #s1_header {
    height: 50vmin !important;
  }
  #s1_header h1 {
    font-size: 2rem;
    font-weight: 700;
  }
}
@media (max-width: 572px) {
  #s1_header h1 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
@media (max-width: 352px) {
  #s1_header h1 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

/* ------ s2_brief-description ----- */
#s2_brief-description-id {
  background: #fff;
  /* background: peru; */
  color: rgb(49, 28, 0);
}
.s2_brief-description {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
  grid-template-areas: 
    "description-about description-about description-about"
    "description-txt description-txt description-img"
    "description-txt description-txt description-img"
  ;
}
.description-about {
  grid-area: description-about;
  text-align: center;
}
.description-img {
  grid-area: description-img;
}
.description-txt {
  grid-area: description-txt;
  /* line-height: 2; */
}
@media (max-width: 992px) {
  .s2_brief-description {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
    grid-template-areas: 
      "description-img description-about description-about"
      "description-img description-txt description-txt"
      "description-img description-txt description-txt"
    ;
  }
}
  
@media (max-width: 576px) {
  .s2_brief-description {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    grid-gap: 5px;
    grid-template-areas: 
      "description-about"
      "description-img"
      "description-txt"
    ;
  }
}


/*------ s3_regions ------*/
#s3_regions {
  background: #f0e9d7;
}
.regions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
.regions-grid > .regions-subgrid {
  width: 300px;
  height: auto;
}
ul li {
  border: none !important;
}


/*------ s4_nobel-laureates ------*/
#s4_nobel-laureates {
  background: #fefaf7;
}
.myGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
.mySubGrid img {
  height: 150px;
  width: 150px;
}


/*------ s8_footer ------*/
#s8_footer {
  height: 100px;
  background: black;
  color: white;
  line-height: 100px;
  ;
}
.hearts {
  color: red;
}